<div class="row">
  <div class="col-md-12">
    <h1>All Posts</h1>
    <span><%= link_to "New", new_post_path, class: 'btn btn-success' %></span>
  </div>
</div>
<% @posts.each do |post| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, post %>
    </h4>
  </div>
</div>
<% end %>
